{% extends 'base/base.html' %} {% block contenido %}
<div class="container-fluid d-flex justify-content-center align-items-center text-center" style="height: 100vh;">
    <div class="w-55">
        <h2 style="margin: 0;">
            Bienvenido a nuestra plataforma, diseñada para ayudarte a gestionar y hacer seguimiento a los objetivos, logros y métricas clave de nuestros empleados. <br><br>
            Aquí podrás visualizar el progreso, cumplir con los estándares establecidos y fomentar el crecimiento profesional dentro de la organización.
        </h2>
    </div>
</div>
{% endblock %}
